html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

/* Navbar Container */
#navbarContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
#navbar {
  background-color: #0e79b2;
  border: 2px solid #fbfef9;
  border-radius: 20px;
  width: 280px;
  height: auto;
  padding: 10px 20px;
  position: relative;
}

/* Menu Container */
#menuButton {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%); /* Adjust to perfectly center vertically */
}

/*- Menu Button -*/
.menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}
/* Menu Button Lines */
.btn-line {
  background-color: #fbfef9;
  height: 3px;
  width: 100%;
  border-radius: 20%;
}
